:root {
  --gradient-color-one: linear-gradient(
    to right,
    #f32170,
    #ff6b08,
    #cf23cf,
    #eedd44
  );
  --gradient-color-two: linear-gradient(to right, #f32170, #cf23cf);
}

body {
  font-size: 62.5%;
  padding-top: 6rem;
  height: 200vh;
  background-color: #f3f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.main-logo {
  width: 10rem;
  height: 3rem;
}

.btn-layout {
  width: 8rem;
  border-radius: 1rem;
  border: 0;
}

.btn-primary {
  background-color: dodgerblue;
}

a {
  text-decoration: none;

  font-size: 1rem;
}

button {
  padding: 1rem;
}

.right-float {
  float: right;
  margin-right: 3rem;
}

.white {
  color: #fff;
}

.grid-container {
  background-image: url(images/daniel-olah-idednB9qCrA-unsplash.jpg);
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-right: 1rem;
  margin-left: 1rem;
}

.heading-image {
  width: 13rem;
  height: 10rem;
  object-fit: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  object-fit: cover;
  float: right;
  margin-right: 5rem;
}

.gradient {
  font-size: 72px;
}

.heading-des {
  font-size: 3rem;
  margin-right: 2rem;
  background: var(--gradient-color-one);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 3rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

.heading-buttons {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-gradient {
  background: var(--gradient-color-two);
}
